body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 52px;
}

button {
  font-size: 26px;
  margin-left: 20px;
  margin-right: 20px;
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 100px;
  color: #fff;
  cursor: pointer;
}

button:focus {outline:0;}

.minus-btn {
  background-color: salmon;
}

.plus-btn {
  background-color: lightblue;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
